@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EurostileExtended';
  src: url('/font/EurostileExtended-Regular.woff2') format('woff2');
}

.eurostile-extended {
  font-family: 'EurostileExtended';
}

body {
  background-color: #141225;
  color: #fff;
}